.UP{
    min-height: 50vh;
}
.UPbtn{
    position: absolute;
    top:23px;
    right: 25px;
}
@media only screen and (max-width: 911px) {
    .UPbtn{
        position: relative;
        top: auto;
        right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .UPbtn1{
        background-color: #2b2b2b;
        color:white
    }
  }

.img3{
    border-radius: 50%;
    height: 120px;
    width: 100px;
}
.imgdiv3{
    height: 120px;
    width: 120px;
    /* border-radius: 50px; */
}