.footer{
    background-color: #e9ecef;
    align-items: center;
}

.imgdiv{
    height: 130px;
    width: 150px;
}
.footerdiv{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

@media only screen and (max-width: 714px) {
    .footerdiv{
        width: 100%;
    }
  }
@media only screen and (max-width: 474px) {
   .footerdiv{
    width: 100%;
   }
   .extradiv{
    display: none;
   }
  }

.foottext{
    color: black;
}