.abtcenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.centerabt{
    display: flex;
}
.left2,.right2{
 flex: 1 0 auto ;
 width: 50%;
}
.abtImgdiv{
    display: flex;
    width: 100%;
    /* justify-content: center;
    align-items: center; */
    justify-content: space-evenly;
    column-gap: 10px;
}
.abtImgdiv2{
    /* width: 25%; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.abtImgdiv3{
    width: 50%;
}
@media only screen and (max-width: 1091px) {
    .abtImgdiv{
        display: block;
    }
    .abtImgdiv3{
        width: 40%;
    }
}
@media only screen and (max-width: 872px) {
    .centerabt{
        display: block;
    }
    .left2{
        width: 100%;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }
    .right2{
        width: 100%;
        padding-left: 47px;
        padding-top: 50px;
    }
}
@media only screen and (max-width: 735px) {
    .abtImgdiv3{
        width: 50%;
    }
}
@media only screen and (max-width: 550px) {
    .abtImgdiv3{
        width: 60%;
    }
}
@media only screen and (max-width: 407px) {
    .abtImgdiv3{
        width: 70%;
    }
    .head3{
        font-size: 20px !important;
    }
    .head4{
        font-size: 18px !important;
    }
    .shoptext{
        font-size: 12px !important;
    }
}