/* 
.card{
    width: 18rem;
}
.cards{
    margin: 0px;
}
.cardbtn{
    display: flex;
    justify-content: space-between;
} */
@media only screen and (max-width: 995px) {
.tableCol{
    height: 530px;
    width: 90%;
    overflow-y: scroll ;
}
}
@media only screen and (max-width: 900px) {
    .tableCol{
        height: 530px;
        width: 80%;
        overflow-y: scroll ;
    }
}
@media only screen and (max-width: 660px) {
    .tableCol{
        height: 530px;
        width: 100%;
        overflow-y: scroll ;
    }
}
@media only screen and (max-width: 375px) {
    .tableCol{
        height: 530px;
        width: 100%;
        overflow-y: scroll ;
    }
    .des{
        display: none;
    }
}