/* .left,.right{
min-height: 100vh;
}

.right{
    width: 100%;
    border: 1px solid black;
}
.container-fluid {
    padding-left: 0 !important;
  } */
/* .homediv{
    min-height: 100vh;
    width: ;
} */